/*basic design layout style*/
h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
}

.title {
    color: #1C4B91;
}

span {
    color: #1C4B91;
    font: bold;
}

.card {
    border: none;
}

.containerPadding {
    padding-bottom: 60px;
}

.navbar-brand {
    height: 60px;
}

.btn {
    background-color: #1D3566;
    border-radius: 50px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

/*Navbar figureout later*/


.navbarLink {
    padding: 25px 20px 20px 20px !important;
}

.navLinks{
    margin: 0px auto;
}

.navbar-brand {
    padding: 10px 0px 10px 20px;
    height: 90px;
}


/*Case Study introduction Title*/
#introduction {
    background-color: #1E3566;
    color: white;
    text-align: center;
}

.introductionTitle {
    padding-bottom: 30px;
    padding-top: 40px;
}

.mobile {
    padding-top: 7.25%;
}

.desktop {
    width: 100%;
}

.mobile {
    width: 100%;
}

/*Case Study introduction information & Briefing*/

.name {
    padding-top: 50px;
}

.breifingTitle {
    color: #1E3566;
    font-weight: bold;
    padding-bottom: 20px;
}

.description {
    padding-bottom: 50px;
}

.oldWebsite {
    display: flex;
    justify-content: flex-end;
}

.problemStatement {
    padding-top: 50px;
}

/*Goals*/
.goals {
    text-align: right;
}

.goalTitle {
    padding-bottom: 25px;
}

/*Research & Analysis*/
.analysisDescription {

    padding: 40px;
}

.researchRow {
    text-align: center;
}

.researchTopic {
    margin-right: 15%;
    margin-left: 15%;
}

.analysis {
    padding-top: 75px;
    padding-bottom: 50px;
}

.analyticsImage {
    padding: 8px
}

.imageDescription {
    margin-left: 50px;
    margin-right: 50px;
}

.analyticsInformation {
    padding: 16%;
}

/*Redline & Annotate & Journey Map*/
.titleDescription {
    padding-bottom: 40px;
}

.imageDetail {
    padding: 15% 2% 2% 2%;
}

/*Card Sorting*/
.cardSortingImage1 {
    width: 35vh;
    display: flex;
    justify-content: flex-end;
}

.cardSortingImage2 {
    width: 85vh;
}

.cardSortingDescription {
    padding-top: 15px;
}

/*Site Map*/

.siteMapImage {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.SiteMapImageDescription {
    padding: 20px 15% 0% 15%
}

/*Concepts, Sketching and Wireframes*/

.sketchIdea {
    text-align: center;
}

.imageTextAbove {
    padding-bottom: 15px;
}


/*Footer Redesign*/
.footercontainer {
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 50px;
}

.footerTitle {
    text-align: center;
}

.footerCard {
    padding-top: 25px;
    background-color: transparent;
}

.footerImage {
    width: 95%;
    padding-top: 25px;
}

.footerdescription {
    padding-top: 7%;
}

/*testing*/

.testingTitle {
    padding-top: 50px;
}

.testingDescription {
    padding-top: 25px;
}

/*navigation*/

.testTitle {
    text-align: center;
}

.navStep1 {
    padding-top: 30%;
    text-align: right;
}

.navStep2 {
    padding-top: 38%;
    text-align: right;
}

.navStep3 {
    padding-top: 50%;
    text-align: right;
}

.imageNavStep {
    padding-top: 35px;
}

.navDescription {
    padding-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

/*Card Design Concepts*/

.cardDesign {
    width: 60rem;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Banner Design Concepts*/

.bannerImage {
    padding: 15px;

}

.bannerTitle {
    text-align: center;
    padding-bottom: 25px;
}

.bannerTitle1 {
    padding-top: 35%;
    text-align: right;
}

.bannerImage1 {
    display: block;
    margin: 0 auto;
}

.bannerTitle2 {
    padding-top: 90%;
    text-align: right;
}

.bannerTitle3 {
    padding-top: 100%;
    text-align: right;
}

.bannInfo {
    padding: none;
    margin: 0 auto;
}

.bannerDescription {
    padding-bottom: 35%;
}

/*StyleGuide*/
.styleGuide {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 50px;
    display: block;
    margin: 0 auto;
}

/*Final Designs*/




.card-body {
    display: block;
    margin: 0 auto;
}

.gifMobile {
    width: 72%
}

.gifMobileCard {
    display: block;
    margin: 0 auto;
}

/*Challenges & Conclusion*/

.conclusion {
    padding: 25px 0px 25px 0px
}

.textbox {
    margin-right: 15px;
    padding-bottom: 40px;
}

.bottomPage {
    padding-bottom: 150px;
}